{% extends 'layout.twig' %}

{% block content %}
    <form action="{{ path_for('order.create') }}" method="post">
    <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6">
                        <h3>联系信息</h3>
                        <div class="form-group">
                            <label for="cellphone">手机</label>
                            <input type="cellphone" name="cellphone" id="cellphone" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="name">姓名</label>
                            <input type="name" name="name" id="name" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h3>地址</h3>
                        <div class="form-group">
                            <label for="address1">首选地址</label>
                            <input type="address1" name="address1" id="address1" class="form-control">
                        </div>

                        <div class="form-group">
                            <label for="address2">备用地址</label>
                            <input type="address2" name="address2" id="address2" class="form-control">
                        </div>

                        <div class="form-group">
                            <label for="city">城市</label>
                            <input type="city" name="city" id="city" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="well">
                    <h3>购物清单</h3>

                    {% include 'Element/cart_content.twig' %}
                    {% include 'Element/order_summary.twig' %}

                    <button type="submit" class="btn btn-primary">支付</button>
                </div>
            </div>
        </div>
    </form>
{% endblock %}