{% extends 'layout.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-4">
            <img src='../{{ product.image }}' alt="{{ product.title }}" class="img-fluid">
        </div>

        <div class="col-md-8">
            {% if product.hasLowStock() %}
                <span class="badge badge-warning">库存少</span>
            {% endif %}

            {% if product.outOfStock() %}
                <span class="badge badge-danger">缺货</span>
            {% endif %}
            <h3>{{ product.title }}</h3>
            <p>{{ product.description }}</p>
            {% if product.inStock() %}
                <a href="#" class="btn btn-primary btn-sm">加入购物车</a>
            {% endif %}
        </div>
    </div>
{% endblock %}